/*body{background-image: url(../ciclo2/hamsters/fondo.jpg);}*/

#prin{
    display: flex;
    justify-content: space-evenly;
    border: 50px solid rgb(3, 3, 3);
    background:rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
}
#prin>a{
    text-decoration: none;
    display: flex;
    color: white;
    margin-left: 180px;
}
#img{
position: sticky;
width: 180px;
height: 160px;
top: -70px;
left: 0px;
position: absolute;
}
#dogs{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background:rgb(0, 0, 0);
    position: absolute;
    width: 100px;
    height: 60px;
    top: -30px;
    left: 970px;
    color:white;
    padding: 5px;
}
#cats{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background:rgb(0, 0, 0);
    position: absolute;
    width: 50px;
    height: 60px;
    top: -30px;
    left: 1110px;
    padding: 5px;
    color: white;
}
#hamsters{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background:rgb(10, 10, 10);
    position: absolute;
    width: 80px;
    height: 60px;
    top: -30px;
    left: 1200px;
    padding: 5px;
    color: white;
}
#birds{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background:rgb(0, 0, 0);
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 1350px;
    padding: 5px;
    color: white;
}
#fish{
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background:rgb(0, 0, 0);
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 1480px;
    padding: 5px;
    color: white;
}
#contacto{    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background:rgb(0, 0, 0);
    position: absolute;
    width: 100px;
    height: 60px;
    top: -30px;
    left: 1670px;
    padding: 5px;
    color: white;
}
#title{
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    background:rgb(255, 255, 255);
    position: absolute;
    width: 450px;
    height: 70px;
    top: 150px;
    left: 700px;
    padding: 5px;
    color: rgb(0, 0, 0);
}

/* buscador */
input {
	font:inherit;
}
section {
    width: 82%;
	display: flex;
    justify-content: end;
    margin-top: -20px;
    padding-right: 30px;
    float:right;
}
form > div {
	background:#fff;
	padding: 9px 22px 9px 26px;
	border-radius: 30px;
	border:2px solid #6093c7;
}
form input {
	border:none;
	background: transparent;
	font-weight: bold;
	padding-left: 24px;
	background-image: url(https://image.flaticon.com/icons/png/512/116/116836.png);
	background-size: 16px;
	background-repeat: no-repeat;
	width: 0px;
	transition: all 1s;
}
form input:focus {
	outline: none;
	width: 200px;
}
/**/
#telefono{
    border:2px solid rgb(57, 230, 172);
    position: absolute;
    width: 200px;
    height: 80px;
    top: 120px;
    right: 0px;
    text-align: center;
    padding: 20px;
    background-color: rgb(57, 230, 172);
}
#img1{
    background-image: url(../ciclo2/hamsters/);
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 300px;
    left: 50px;
    position: absolute;
}
#precio{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 565px;
    left: 50px;
    text-align: center;
}

#img2{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 300px;
    left: 380px;
    position: absolute;
}
#pr{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 565px;
    left: 380px;
    text-align: center;
}
#img3{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 300px;
    left: 680px;
    position: absolute;
}
#ba{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 565px;
    left: 680px;
    text-align: center;
}
#img4{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 300px;
    left: 1000px;
    position: absolute;
}
#ru{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 565px;
    left: 1000px;
    text-align: center;
}
#img5{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 300px;
    left: 1380px;
    position: absolute;
}
#casa{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 565px;
    left: 1380px;
    text-align: center;
}
#img6{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 700px;
    left: 40px;
    position: absolute;
}
#casaM{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 980px;
    left: 40px;
    text-align: center;
}
#img7{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 700px;
    left: 400px;
    position: absolute;
}
#casaG{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 980px;
    left: 400px;
    text-align: center;
}
#img8{
    border: 5px solid rgb(255, 255, 255);
    position: sticky;
    width: 300px;
    height: 260px;
    top: 700px;
    left: 750px;
    position: absolute;
}
#comida{
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    width: 300px;
    height: 60px;
    top: 980px;
    left: 750px;
    text-align: center;
}


/*      PIE DE PAGINA       */
.footer-conteiner{
    width: 100%;
    margin: auto;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    position: absolute;
    top: 1100px;
    left: 0px;
}
.direction{
    background-color: rgb(57, 230, 172);
    width: 30%;
}

.shop-animals{
    background-color: rgb(57, 230, 172);
    width: 30%;
}

.info{
    background-color: rgb(57, 230, 172);
    width: 30%;
}

.notify{
    background-color: rgb(57, 230, 172);
    width: 30%;
}

.title-footer{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.content-text{
    width: 82%;
    display: flex;
    padding-left: 90px;
    font-weight: 400;
    margin-top: 50px;
}

a >.stores-text{
    display: flex;
    margin-top: 50px;
    padding-left: 90px;
    color: black;
}

h5 > a{
    width: 100%;
    display: flex;
    margin-top: 45px;
    color: black;
    text-decoration: none;
    justify-content: center;
    font-weight: 400;
}

.direction-footer{
    width: 100%;
    display: flex;
    margin-top: 45px;
    font-weight: 400;
    justify-content: center;
}

.email{
    display: flex;
    width: 60%;
    margin: auto;
    overflow: hidden;
    height: 40px;
    margin-top: 15px;
}

.suscribe{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 35px;
    margin: auto;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    margin-top: 10px;
    cursor: pointer;
}

.suscribe:hover{
    transition: 0.8s ease-in-out;
    background-color: rgb(57, 230, 172);
}
.subt-footer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.icons-footer, a >i{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-decoration: none;
    gap: 0 80px;
    color: black;
}

.end-footer{
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 300;
    justify-content: space-evenly;
}


/*final*/
@media screen and (max-width: 750px){
    .icono{
        display: flex;
        font-size: 30px;
        color: white;
        justify-content: center;
        height: 70px;
        align-items: center;
        background: transparent;
        z-index: 100;
        padding: 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    
    .enlaces{
        position: fixed;
        flex-direction: column;
        transition: all 1.4s ease;
        width: 100%;
        height: 100vh;
        right: 0;
        background: #1D976C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .uno{
        clip-path: circle(0% at 100% 0);
    }

    .dos{
        clip-path: circle(150% at 100% 0%);
    }
    nav .logo a >img{
        width: 120px;
    }
    nav .logo{
        margin-left: 30px;
    }
    #close{
        display: none;
    }
    .content{
        display: none;
    }
    .sub-title{
        width: 100%;
    }
    .text{
        margin-top: 80px;
    }
    section{
    width: 100%;
	display: flex;
    justify-content: end;
    margin-top: 90px;
    padding-right: 20px;
    }
    .icons{
        width: 50px;
        display: flex;
        position: initial;
    }
    .icons a{
        margin-left: 20px;
    }
    .register{
        width: 100%;
        display: flex;
        margin-left: 10px;
        justify-content: end;
        margin-top: 15px;
        float: left;
    }
    .footer-conteiner{
        display: flex;
        flex-direction: row;
    }
}